.bodyRow {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  background-color: white;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.bodyRow:hover {
  background-color: #f3f4f6; /* Light gray hover effect */
}

.bodyCell {
  padding: 14px;
  width: 160px;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  color: rgb(70, 70, 70);
}