.container {
    position: fixed;
    display: flex;
    justify-content: right;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* Background container */
  .backgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .backgroundContainer.fadeIn {
    animation: fadeIn 0.4s forwards;
  }
  
  .backgroundContainer.fadeOut {
    animation: fadeOut 0.4s forwards;
  }
  
  /* Content container */
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 10px;
  }    
  
  .wrapper.slideIn {
    animation: fadeIn 0.4s forwards;
  }

  .wrapper.slideOut {
    animation: fadeOut 0.4s forwards;
  }
  
  .headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    height: 19px;
  }
  
  .headerTitleText {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }

  .bodyButton {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 100px;
    padding: 12.5px 32px;
    width: 230px;
  }
  
  .headerExitButton {
    position: absolute;
    padding: 10px;
    right: 16px;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  
  .bodyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    overflow-y: scroll;
  }

  .actionsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    padding-bottom: 24px;
}

.createAccountButton, .logInButton{
    background-color: #000;
    color: #fff;
    padding: 12.5px 32px;
    font-size: 16px;
    border: none;
    border-radius: 5em;
    cursor: pointer;
    text-transform: uppercase;
    width: auto;
    text-align: center;
}

.logInButton{
    background-color: rgb(84, 86, 90);
    width: auto;
}

.favText{
    margin: 0;
    padding: 40px;
    padding-bottom: 24px;
    font-size: 1.2em;
    color: rgb(68, 68, 68);
    text-align: center;
}

  /* Keyframe animations */
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }
  
  @keyframes slideInBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
  }
  
  @keyframes slideOutBottom {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
  }
  
  /* Media Queries */
  @media (max-width: 1024px) {
    .wrapper {
        position: fixed;
        top: unset;
        left: unset;
        padding: 0;
        transform: unset;
        height: auto;
        width: 100%;
        bottom: 0;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
  
    .wrapper.slideIn {
        animation: slideInBottom 0.4s forwards;
    }
  
    .wrapper.slideOut {
        animation: slideOutBottom 0.4s forwards;
    }

    .favText{
        padding: 40px 16px;
        padding-bottom: 24px;
    }

    .actionsContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0em;
        justify-content: center;
        padding: 16px;
        box-sizing: border-box;
    }

    .createAccountButton, .logInButton{
        width: 100%;
    }
  }