.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 32px;
  width: 350px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.filterTitle {
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.filterList {
  margin: 20px 0;
}

.filterItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.filterItem label {
  color: rgb(0, 140, 255, 0.8);
  font-weight: 650;
  font-size: 0.8em;
  display: block;
  margin-bottom: 5px;
}

.filterItem input,
.filterItem select {
  width: 100%;
  padding: 8px;
  border: 1.5px solid #929292;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 450;
  color: black;
  box-sizing: border-box;
}

.modalActions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.modalActions button {
  padding: 12px 24px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.modalActions button:first-child {
  background: #007bff;
  color: white;
  font-size: 1.3em;
  font-weight: 350;
}

.modalActions button:hover {
  background: #0056b3;
  color: white;
}

.modalActions button:last-child {
  background: #f0f0f0;
  font-size: 1.3em;
  font-weight: 350;
  color: rgb(0, 140, 255);
}

.resetButton {
  background: #ff4d4d;
  color: white;
  font-size: 1.3em;
  font-weight: 350;
}

.resetButton:hover {
  background: #cc0000;
}