.appContainer {
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
  overflow-y: auto; /* Content scrolls */
  padding: 0px; /* Padding for content */
  margin: 0;
  background-color: rgb(243, 242, 248);
  transition: background 0.3s ease;
}

.contentWrapper.darkTheme {
  background-color: rgb(0, 0, 0);
}

.banner {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  opacity: 0;
}

.bannerVisible {
  animation: slideIn 0.3s ease-in-out forwards;
}

.bannerExit {
  animation: slideOut 0.3s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }
}

.success {
  background-color: #4caf50;
  color: white;
}

.error {
  background-color: #f44336;
  color: white;
}

.darkTheme .banner {
  color: #fff;
}

@media (max-width: 1024px) {
  .appContainer {
    /* Add responsive styles if needed */
  }
  .contentWrapper {
    /* Add responsive styles if needed */
  }
}